<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Thusara Senanayake" />
  <title>Dashboard - Sign up</title>
  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/login.css" rel="stylesheet" />

  <script defer src="/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="/assets/dist/js/feather.min.js"></script>
  <script defer src="/assets/js/signup.js"></script>

</head>

<body class="text-center">
  <main class="form-signin">
    <i class="mb-3" data-feather="command" width="70" height="70"></i>
    <form>
      <h1 class="h3 mb-3 fw-normal">Create a new account</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label id="emailLabel" for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label class="text-start" id="passwordLabel" for="password">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Sign up</button>
      <p class="mt-5 mb-3 text-muted">OpenMind Academy © 2017–2021</p>
    </form>
  </main>

</body>

</html>