<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">OpenMind Academy</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<form class="w-100" target="/dashboard/students" method="GET" id="searchBar">

		<% if(locals.searchTerm){  %>
		<input class="form-control form-control-dark " type="search" placeholder="Search" aria-label="Search" name="q"
			value="<%=searchTerm%>" />
		<%  } else{ %>
		<input class="form-control form-control-dark " type="search" placeholder="Search" aria-label="Search"
			name="q" />
		<%	}  %>
		<!-- <input type="hidden" name="courseId" /> -->
	</form>

	<% if(user){%>
	<div class="navbar-nav text-center">
		<p class="text-light px-3 my-auto"><%= user.email %> </p>
	</div>
	<%	} %>

	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="/dashboard/logout">Sign out</a>
		</div>
	</div>
</header>
