<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard - Students</title>
		<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/assets/css/dashboard.css" rel="stylesheet" />

		<script defer src="/assets/dist/js/bootstrap.bundle.min.js"></script>
		<script defer src="/assets/dist/js/feather.min.js"></script>
		<script defer src="/assets/js/dashboard.js"></script>
	</head>
	<body>
		<%- include ('../partials/header.ejs') %>

		<div class="container-fluid">
			<div class="row">
				<%- include('../partials/sidebar.ejs') %>

				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
					<div
						class="
							d-flex
							justify-content-between
							flex-wrap flex-md-nowrap
							align-items-center
							pt-3
							pb-2
							mb-3
							border-bottom
						"
					>
						<h1 class="h2">Students</h1>
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group me-2">
								<button type="button" class="btn btn-sm btn-outline-secondary">
									Share
								</button>
								<button type="button" class="btn btn-sm btn-outline-secondary">
									Export
								</button>
							</div>
							<button
								type="button"
								class="btn btn-sm btn-outline-secondary dropdown-toggle"
							>
								<span data-feather="calendar"></span>
								This week
							</button>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">First Name</th>
									<th scope="col">Last Name</th>
									<th scope="col">Email</th>
									<th scope="col">Phone Number</th>
                                    <th scope="col">Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr>
                                    
									<td>1,001</td>
									<td>random</td>
									<td>data</td>
									<td>placeholder</td>
									<td>text</td>
									<td>text</td>

								</tr>
							</tbody>
						</table>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>
